.all_episodes {
  display: grid;
  margin-top: 40px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  row-gap: 20px;
  column-gap: 16px;
  justify-items: center;
  background-color: var(--secondary-color);
}
