.episode_info_container {
}
.episode_content {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.image_container {
  max-height: 50vh;

  overflow: hidden;
}
.episode_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.episode_text {
  display: flex;
  flex-direction: column;
  justify-content: start;

  margin-left: 20px;
}
