.header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #213547;
}
.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  width: 160px;
  height: auto;
  padding: 12px;
}
.header nav a {
  color: #213547;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  padding: 0.6em 1.2em;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border-color 0.25s;
}
.header > nav > a:hover {
  border-color: var(--text-color);
}
@media screen and (max-width: 900px) {
  .header {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .header nav {
    flex-direction: column;
  }
  .header nav a {
    padding: 0;
  }
}
