*,
*::after,
*::before,
h1,
h2,
h3,
h4,
h5,
h6 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #242424;
  --secondary-color: #3a3838;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--main-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html {
  /* 1rem = 10px */
  font-size: 62.5%;
}
body {
  width: 100vw;
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
a {
  color: var(--second-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}
h3 {
  font-size: 2rem;
  line-height: 1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
